ul {
    padding: 0px;
}

.current {
    padding: 0px;
}

#sidebar {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 40px;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-weight: normal;

}

#menu {
    padding-top: 60px; 
    padding-bottom: 50px; 
    padding-left:200px;
}

h1 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;    
    font-size: 50px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 40px;
    color: black;
    text-align: center;

}

h2 {
   padding-top: 20px;
   padding-bottom: 10px;
   font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;    
   font-weight: normal;
}
body {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

a {
	text-decoration: none;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

}

.list_button {
    font-size: 20px;
    color: #DBD4D4;
    float: right;
}

.list_button:hover {
    color: black;
    cursor: pointer;
}

.title_information {
    display: inline;
    text-align: left;
}

#container {
    min-height: 800px;
    border:1px solid #DBD4D4;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

#content {
}

#list_container {   
    border-left:1px solid #9C9195;
    border-right:1px solid #9C9195;
    border-bottom:1px solid #9C9195;
    border-top:1px solid #9C9195;
    min-height: 470px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    padding-top:30px;
    margin-top: 0px;
    position: relative;
    top: -2px;
    z-index: 10;
}

.information {
    font-color: #9C9195;
    font-size: 12px;
    display: inline;
    text-align: left;
}

.date {
    float: right;
}

.list_title {  
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top:1px solid #DBD4D4;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-left:1px solid #DBD4D4;
    border-right:1px solid #DBD4D4;
    text-align: center;
    z-index: 5;
 
}

.list_title:hover {
    color: #DBD4D4;
    cursor: pointer; 
}


.selected_list {
    font-weight: bold;
    border-color: #9C9195;
    background-color: white;
    z-index: 25;
}

.selected_list:hover {
    color: black;
    border-color: #9C9195;
}

.divider { 
    margin-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px;
    color: #DBD4D4; 
}

.dividertop {
    border-bottom: solid 1px;
    padding-top: 30px;
    color: #DBD4D4;
}

.dividerbottom {
    border-bottom: solid 1px;
    padding-top: 5px;
}

#footer {
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
}

.sort_option:hover {
    color: black;
}

.sort_options {
    height: 12px;
    font-size:12px;
    overflow: hidden;
    width: 100px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.sort_options:hover  {
    color: #9C9195;
    overflow: visible;
    height: inherit;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.sorted_by {

}

.sorter {
    color: #DBD4D4;
    display: inline;
    text-align: left;
    font-size: 12px;
}

#title_menu {
    position: relative;
    z-index: 15;
}

